{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>online-shop</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    {% include "check/include/cart_header.html"%}
    {% block index %}
    {% endblock %}
    {% block product %}
    {% endblock %}
    {% block cart %}
    {% endblock %}


  </body>
</html>
