{%extends 'check/base.html'%}

{% block cart%}
  <table class = "table">
    <tr>
      <th> название </th>
      <th> количество </th>
      <th> цена за штуку</th>
      <th> общая цена </th>
      <th> добавить </th>
      <th> удалить </th>
    </tr>
    {% for item in order_items%}
    <tr>
      <td>{{item.product.name}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.product.price}}</td>
      <td>{{item.total_item_price}}</td>
      <td><div data-product_id = "{{item.product.id}}" data-action = "add" class = "btn btn-primary btn-lg"> </div> </td><!-- js btn -->
      <td><div data-product_id = "{{item.product.id}}" data-action = "remove" class = "btn btn-danger btn-lg"> </div></td>
    </tr>
    {% endfor %}
  </table>




<input type="text" value="12" class = "data_to_send">


<script type="text/javascript" defer>



var allBtns = document.querySelectorAll(".btn")

for (let i = 0; i < allBtns.length; i++)
{
  allBtns[i].addEventListener("click", function (e)
  {
      var product_id = this.dataset.product_id
      var action = this.dataset.action

      if(user=="AnonymousUser")
      {
        console.log("User Not Logged In")
      }
      else
      {
        updateUserOrder(product_id, action)
      }
    })
  }


function updateUserOrder(product_id, action)
{
  var url = "/api/change_cart"

  fetch( url ,
    {
      method:"POST",
      headers:
      {
        'Content-type':"application/json",
        "X-CSRFToken": csrftoken
      },

      body: JSON.stringify(
      {
        "product_id":product_id,
        "action" : action,

      })
    })

    .then((resp) => {
      return resp.json();
    })

    .then((response) =>{
      console.log("total_quantity: ", response  )
      document.querySelector(".amount").textContent = response.total_quantity
      location.reload()
      })
}


</script>

{% endblock %}
