{%extends 'check/base.html'%}


{% block index %}

{% include "check/include/cart_header.html"%}

{% for pr in products %}
  {{pr.name}}
  {{pr.pic}}
  {{pr.added_at}}
  {{pr.category}}

  <h3 data-product_id = "{{pr.id}}" data-action = "add" class = "btn btn-primary btn-lg"> </h3>
<hr>
<br>
{%endfor%}

<input type="text" value="12" class = "data_to_send">


<script type="text/javascript" defer>

// var addToCartBtn = document.querySelector(".{{pr.slug}}")


var allBtns = document.querySelectorAll(".btn")

for (let i = 0; i < allBtns.length; i++)
{
  allBtns[i].addEventListener("click", function (e)
  {
    var product_id = this.dataset.product_id
    var action = this.dataset.action
    console.log("product_id: ", product_id, "action: ", action)
    $.ajax(
      {
        url:"/ProductApi/change_cart",
        type: "get",

        data: {
          "product_id":product_id,
           "action":action ,
           csrfmiddlewaretoken: '{{ csrf_token }}'
          },
        success: async function (response)
        {
          console.log(response.data_from_server)
          document.querySelector(".amount").textContent = response.total_quantity
        }
      })


  })
}








</script>



{% endblock %}
