{%extends 'check/base.html'%}


{% block index %}

{% include "check/include/cart_header.html"%}

{% for pr in products %}
  {{pr.name}}
  {{pr.pic}}
  {{pr.added_at}}
  {{pr.category}}

  <h3 data-productid = "{{pr.id}}" data-action = "add" class = "btn btn-primary btn-lg"> </h3>
<hr>
<br>
{%endfor%}

<input type="text" value="12" class = "data_to_send">


<script type="text/javascript" defer>

// var addToCartBtn = document.querySelector(".{{pr.slug}}")


var allBtns = document.querySelectorAll(".btn")

for (let i = 0; i < allBtns.length; i++)
{
  allBtns[i].addEventListener("click", function (e)
  {
    var productid = this.dataset.productid
    var action = this.dataset.action
    console.log("productid: ", productid, "action: ", action)
    // console.log(e.target, "was clicked")
    // $.ajax(
    //   {
    //     url:"/ProductApi/add_to_cart",
    //     type: "get",
    //
    //     data: {"quantity":$(".data_to_send").val(), csrfmiddlewaretoken: '{{ csrf_token }}'},
    //     success: async function (response)
    //     {
    //       console.log(response.data_from_server)
    //       document.querySelector(".amount").textContent = response.data_from_server
    //     }
    //   })


  })
}








</script>



{% endblock %}
