{%extends 'check/base.html'%}


{% block index %}

{% for pr in products %}
  {{pr.name}}
  {{pr.pic}}
  {{pr.added_at}}
  {{pr.category}}
  <!-- <a class = "btn btn-primary btn-lg"  href="{%url 'product' pr.slug %}" class = "{{pr.slug}}"></a> -->
  <h3 class = "btn btn-primary btn-lg {{pr.slug}}" </h3>
<hr>
<br>
{%endfor%}


<script type="text/javascript" defer>

// var addToCartBtn = document.querySelector(".{{pr.slug}}")


var allBtns = document.querySelectorAll(".btn")

for (let i = 0; i < allBtns.length; i++)
{
  allBtns[i].addEventListener("click", (e) =>
  {
    console.log(e.target, "was clicked")
  })
}


</script>



{% endblock %}
